:root {
  --pinkie-melon: #d88b84;
  --greenie-melon: #cbdd73;
  --whiteness-melon: #ffffff;
  --blackness-melon: #231520;
}
* {
  font-family: "Coustard", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: white;
}
nav {
  margin-bottom: 30px;
}
nav .nav-wrapper {
  position: relative;
  height: 100px;
  padding-top: 20px;
  margin-bottom: 30px;
}
.nav-wrapper {
  background-color: white;
}
nav ul a {
  color: black;
  border-radius: 5px;
}
nav ul a:hover {
  background-color: #d88b84;
  opacity: 80%;
}
/* the little dot for image */
.slider .indicators .indicator-item {
  background-color: var(--greenie-melon);
}
.slider .indicators .indicator-item.active {
  background-color: var(--pinkie-melon);
}
/* button for submit */
.btn,
.btn-large,
.btn-small #shopping-button {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--greenie-melon);
  font-weight: bold;
}

#label_id {
  font-size: 18px;
  color: black;
}

#shoppingListItem {
  margin-left: 50px;
  padding-right: 40px;
}

#shoppingListQuantity,
#shoppingListWeight {
  padding-left: 100px;
}

#shopping_list_array_item {
  margin-left: 50px;
}

#shopping_list_array_weight {
  padding-right: 100px;
}
.image {
  position: absolute;
  top: 80px;
  border-radius: 8px;
}
.shopping-display {
  display: flex;
  border: solid transparent;
  width: 500px;
}

#quantity-item {
  position: absolute;
  margin-left: 440px;
}
#weight-item {
  position: absolute;
  margin-left: 360px;
}

/* calories */
#caloriesContainor{
  background-color: #d88b84;
}
.collection {
  float: right;
}
#displayCalories {
  display: flex;
  border: solid transparent;
  padding-left: 50px;
  align-items: center;
}
#itemQuantity,
#display-calorie {
  padding-left: 50px;
}
#clear-button {
  margin-left: 200px;
}
#descriptionCalorie {
  padding-left: 50px;
}
