:root {
  --pinkie-melon: #d88b84;
  --greenie-melon: #cbdd73;
  --whiteness-melon: #ffffff;
  --blackness-melon: #231520;
}
body {
  background-color: var(--whiteness-melon);
  font-family: "Coustard", serif;
}
nav .nav-wrapper {
  position: relative;
  height: 100px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper {
  background-color: var(--whiteness-melon);
}
nav ul a {
  color: black;
}
main {
  position: relative;
  top: 40px;
  padding-bottom: 20px;
}
h1 {
  font-size: 50px;
}
.fortune-cookie {
  display: flex;
  justify-content: center;
}
.fortune-cookie img {
  max-width: 80px;
}
.fortune-button {
  background: none;
  border: none;
  max-width: fit-content;
  margin-right: 10px;
  cursor: pointer;
}
.slider .indicators .indicator-item.active {
  background-color: #cbdd73;
}

/* This the Media Query */
/* Tablets  */
@media only screen and (min-width: 992px) {
  .hide-on-med-and-down {
    display: flex !importantc;
    flex-direction: row;
  }
}

/* Large smartphones */
@media screen and (max-width: 768px) {
}

/* Medium size device (Ipad) */
@media screen and (max-width: 576px) {
}
/* Small Device: Viewports between 320px and 480px wide */
@media only screen and (min-device-width: 320px) and (max-device-width: 510px) {
}
